*{
    font-family:'Poppins',sans-serif;
   } 
   .h-font{
    font-family:'Merienda',cursive;
   }
   .custom-bg{
    background-color:#2ec1ac;
   }
   .custom-bg-hover{
    background-color:#279e8c;  
   }

   .availability-form{
      margin-top: -50px;
      z-index: 1;
      position: relative;
   }
   @media screen and (max-width:575px){
    .availability-form{
      margin-top: 25px;
      padding: 0 35px;
   }
   } 

   .h-line{
      width:160px;
      margin:0 auto;
      height: 1.7px;
   }

   